@rendermode InteractiveServer
@attribute [StreamRendering]
@page "/categorias"
@* @using Microsoft.AspNetCore.Authorization
@attribute [Authorize] *@

<h3 class="d-print-none">Categorías</h3>
@if (ShowForm)
{
    @* Formularion de accion*@
    <div class="card">
        <h5 class="card-header">@Accion categoria</h5>
        <div class="card-body">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input @bind-value="MiProducto.Nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" disabled="@DisableInputs">
            </div>
            
            @if (Accion != Constants.Acciones.Ver)
            {
                <span class="btn btn-primary" @onclick="Aceptar">Aceptar</span>
            }
            <span class="btn btn-danger" @onclick="btnCancelarClick">@(Accion != Constants.Acciones.Ver ? "Cancelar" : "Salir")</span>
        </div>
    </div>
}
else
{
    @if (ProductoList != null)
    {
        @* Formularion de los registros*@
        <div class="card mb-3 mt-3">
            <div class="card-header">
                <h1 class="d-none d-print-inline">Reporte de categorias</h1>
                <div class="d-print-none">
                    <span class="btn btn-success" @onclick="btnAgregarClick">+</span>
                    <PrintButton />
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col" class="d-print-none">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ProductoList.Count > 0)
                        {
                            @foreach (var p in ProductoList)
                            {
                                <tr>
                                    <th scope="row">@p.Id</th>
                                    <td>@p.Nombre</td>
                                    <td class="d-print-none">
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                            <span @onclick="()=>btnEditarClick(p)" class="btn btn-outline-warning">Editar</span>
                                            <span @onclick="()=>btnEliminarClick(p)" class="btn btn-outline-danger">Eliminar</span>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <p>Cargando...</p>
    }
}
@code {
    #region Propiedades del componente Index.Razor
    public List<CategoriaDto> Categorias { get; set; } = new();
    public string Accion { get; set; } = "Registrar";
    public CategoriaRequest MiProducto { get; set; } = new();

    public List<CategoriaDto>? ProductoList { get; set; }
    bool ShowForm = false, DisableInputs = false;
    #endregion Propiedades del componente Index.Razor

    #region Metodos del ciclo de vida de la aplicacion (para este componente)
    protected override async Task OnInitializedAsync()
    {
        await Consultar();
    }
    #endregion Metodos del ciclo de vida de la aplicacion (para este componente)

    #region Eventos
    public void btnAgregarClick()
    {
        Accion = Constants.Acciones.Registrar;
        ShowForm = true;
        StateHasChanged();
        DisableInputs = false;
    }
    public void btnEditarClick(CategoriaDto dto)
    {
        Accion = Constants.Acciones.Modificar;
        ShowForm = true;
        DisableInputs = false;
        MiProducto = dto.ToRequest();
    }
    public void btnEliminarClick(CategoriaDto dto)
    {
        Accion = Constants.Acciones.Eliminar;
        ShowForm = true;
        DisableInputs = true;
        MiProducto = dto.ToRequest();
    }
    public void btnVerClick(CategoriaDto dto)
    {
        Accion = Constants.Acciones.Ver;
        ShowForm = true;
        DisableInputs = true;
        MiProducto = dto.ToRequest();
    }
    public void btnCancelarClick()
    {
        Limpiar();
    }
    #endregion Eventos

    #region Métodos
    async Task Consultar()
    {
        var result = await service.GetAll();
        if (result.Succesd)
        {
            ProductoList =
            result.Data?.ToList()
            ??
            new List<CategoriaDto>();
        }
    }
    public void Limpiar()
    {
        ShowForm = false;
        MiProducto = new();
    }
    public async Task Aceptar()
    {
        Result r =
        Accion == Constants.Acciones.Registrar ? await service.Create(MiProducto) :
        Accion == Constants.Acciones.Modificar ? await service.Update(MiProducto) :
        Accion == Constants.Acciones.Eliminar ? await service.Delete(MiProducto.Id) :
        Result.Success("");
        Result.Failure("Accion no soportada");
        if (r.Succesd)
        {
            await Consultar();
            Limpiar();
        }
    }
    #endregion Métodos
}
